.row {
	display: flex;
}

.btn {
	display: flex;
	width: 48px;
	height: 48px;
	margin-top : 1rem;
	margin-right : 1rem;
	text-align: center;
	background : #ffd700;
	border-radius: 4px;
	padding : 1rem;
	justify-content : center;
	align-items : center;
}

.btn:active {
	background : #ffb700;
}

.result {
	width : 360px;
	height : 3rem;
	color : #ffb700;
	border-radius: 4px;
}

.result:disabled {
	background-color: white;
	border: solid 1px #ffe100;
	font-size: 14px;
}

/* - btn
    - width 48px, heigth 48px / #ffd700
    - background #ffd700
    - border-radius 4px
- btn:active
    - background - #ffb700
- .result
    - color - #ffa600
- .result:disabled
    - border - solid 1px #ffe100 */